#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 100%;
}

.main{
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 50px;
  align-items: start
}
form{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
form button{
  width: 100%;
}
form div{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}
form input, form select{
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
}
table{
  border-collapse: collapse;
  width: 100%;
}
table tr{
  border-bottom: 1px solid #7a7a7a36;
  
}
table tr th{
  padding: 10px;
  background-color: #7792c35e;
}
table tr td{
  padding: 6px 0px;
}
table tr:nth-child(odd){

  background-color: #f7f7f7;
}
.error{
  color: red;
  margin: 0;
  position: absolute;
  bottom: -19px;
  font-size: 14px;
}
.form_heading{
  margin: 0px;
}
.table_heading{
  margin-top: 0px;
  margin-bottom: 20px;
}
form button{
  background-color: #7792c35e;
}
table select{
  width: auto;
  background-color: #c8d2e4;
  border: none;
  font-size: 16px;
  font-weight: 700;
  outline: none;
}
.total{
  font-weight: bold;
}
.delete_button{
  background-color: #ff00009e;
        font-size: 14px;
        padding: 3px 11px;
        outline: none;
}

@media screen and (max-width:767px){

  .main{
    display: grid;
    grid-template-columns: 100%;
    gap: 50px;
    align-items: start
  }
}