#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 100%;

}
.expense_headder{
  background-color: #435D7D;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  border-radius: 5px;
}
.expense_headder h2{
  margin: 0px;
}
.csv_download_btn{
  cursor: pointer;
}
.main{
  display: flex;
 flex-direction: row;
  gap: 50px;
  align-items: start;
  margin-top: 50px;
}
.expense_table{
  width: 65%;
  overflow-x: auto;
}
form{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
form button{
  width: 100%;
  padding: 9px 0px;
  background-color: #435d7d;
  color: #fff;
}
form div{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}
form input, form select{
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #dfdfdf;
  border-radius: 5px;
}
.expense_form{
  background-color: #c8d2e4;
    width: 30%;
    padding: 30px;
    border-radius: 20px;
}
table{
  border-collapse: collapse;
  width: 100%;
  
}
table tr{
  border-bottom: 1px solid #7a7a7a36;
  
}
table tr th{
  padding: 10px;
  background-color: #7792c35e;
}
table tr td{
  padding: 6px 0px;
}
table tr:nth-child(odd){

  background-color: #f7f7f7;
}
.error{
  color: red;
  margin: 0;
  position: absolute;
  bottom: -19px;
  font-size: 14px;
}
.form_heading{
  margin: 0px;
}
.table_heading{
  margin-top: 0px;
  margin-bottom: 20px;
}

table select{
  width: auto;
  background-color: #c8d2e4;
  border: none;
  font-size: 16px;
  font-weight: 700;
  outline: none;
}
.total{
  font-weight: bold;
    background-color: #c8d2e4;
    color: #000000;
}
.delete_button{
  color: #ff00009e;
  font-size: 14px;
  padding: 3px 11px;
  outline: none;
  cursor: pointer;
}
.sorting_arrow{
  font-size: 14px;
  margin-left: 2px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.UpSorting_arrow:hover{
  transform: translateY(-2px);
}
.DownSorting_arrow:hover{
  transform: translateY(5px);
}
button:focus, button:focus-visible {
  outline: 0px auto -webkit-focus-ring-color;
}
@media screen and (max-width:767px){

  .main{
    display: grid;
    grid-template-columns: 100%;
    gap: 50px;
    align-items: start;
    margin-top: 20px;
  }
  form{
    width: 100%;
  }
  table select, table th{
    font-size: 14px;
  }
  .expense_table {
    width: 100%;
}
.expense_form{
  width: auto;
}
form label{
  font-size: 14px;
}
.error {
  color: red;
  margin: 0;
  position: absolute;
  bottom: -17px;
  font-size: 13px;
}


}